include ../common/genres-sidebar
include ../common/slider

extends ../layout
block content
  section.content-wrap
    +slider(data.cats)
    .container.youplay-store.store-grid
      // Games List
      .col-md-9.isotope
        // Sort Categories
        ul.pagination.isotope-options
          li.active(data-filter='all')
            span همه
          each platform in platforms
            li(data-filter='#{platform.name}')
              span= platform.name
        // /Sort Categories
        .isotope-list.row.vertical-gutter
          each item in data.cats 
            .item.col-lg-4.col-md-6.col-xs-12(data-filters='#{item._platforms.map(function(x){return x.name}).join()}')
              a.angled-img(href='#!')
                .img.img-offset
                  img(src='/images/cats/500/#{item._id}.jpg', alt='')
                .bottom-info
                  h4= item.name
                  .row
                    .col-xs-6
                      .category
                        span= item._genres.map(function(x){return x.name}).join() 
                    .col-xs-6
                      .platform
                        span= item._platforms.map(function(x){return x.name}).join() 
          
        //- nav
        //-   ul.pager
        //-     li
        //-       a(href='#') بعدی
        //-     li
        //-       a(href='#') قبلی
      // /Games List
      // Right Side
      .col-md-3
        // Side Categories
        +genres-sidebar(data.genres)

        //- .side-block.right-side
        //-   h4.block-title دیگر بازی ها
        //-   .block-content.p-0
        //-     .row.youplay-side-news
        //-       .col-xs-3.col-md-4
        //-         a.angled-img(href='store-product-1.html')
        //-           .img
        //-             img(src='assets/images/game-bloodborne-500x375.jpg', alt='')
        //-       .col-xs-9.col-md-8
        //-         h4.ellipsis
        //-           a(href='store-product-1.html', title='Bloodborne') Bloodborne
        //-         span.category Action
     
block addscript
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='/plugins/isotope/isotope.pkgd.min.js')