extends ../../layout
include ../../common/slider
include ../../common/sideblock-videos
include ../../common/news-sidebar

block title
  if data.genre
    title= 'ویدیوهای ' + data.genre.name
    meta(name='description', content='جدید ترین ویدیوهای ' + data.genre.name)
    meta(name='twitter:card', value='ویدیوهای ' + data.genre.name)
    meta(property='og:title', content='ویدیوهای ' + data.genre.name)
    meta(property='og:description', content='جدید ترین ویدیوهای ' + data.genre.name)
  else if data.platform
    title= 'ویدیوهای ' + data.platform.name
    meta(name='description', content='جدید ترین ویدیوهای ' + data.platform.name)
    meta(name='twitter:card', value='ویدیوهای ' + data.platform.name)
    meta(property='og:title', content='ویدیوهای ' + data.platform.name)
    meta(property='og:description', content='جدید ترین ویدیوهای ' + data.platform.name)
  else
    title= 'ویدیوها'
    meta(name='description', content='جدید ترین ویدیوها')
    meta(name='twitter:card', value='ویدیوها')
    meta(property='og:title', content='ویدیوها')
    meta(property='og:description', content='جدید ترین ویدیوها')


block content 
  .container.mt-100
    .col-md-9
      h1.mt-0 
        | تازه ترین ویدیوها
        if data.genre
          | ی
          = data.genre.name

        if data.platform
          | ی
          = data.platform.name
      each item in data.items 
        .news-one
          .row.vertical-gutter
            .col-md-4
              a.angled-img(href=item.page, title=item.title)
                .img-square
                  img(src=item.poster.md, alt=item.title)
            .col-md-8
              .clearfix
                h3.h2.pull-left.m-0
                  a(href=item.page)= item.title
              .description
                p= item.body
              a.btn.read-more.pull-right(href=item.page, title=item.title) مشاهده
          hr    
      //- nav
      //-   ul.pager
      //-     li
      //-       a(href='#') بعدی
      //-     li
      //-       a(href='#') قبلی
    .col-md-3
      +news-sidebar('پر بازدیدترین اخبارها', data.popularNews)
      +sideblock-videos('پر بازدیدترین ویدیوها', data.populars)
