include ./common/carousel
include ./common/video-carousel
include ./common/slider
extends layout

block content
  +slider(data.bannerGames)   
  +carousel(data.cats)

  h2.container.h1
    | پربازدیدها
    a.btn.pull-right(href='/videos/more/most-viewed') بیشتر
  +video-carousel(data.mostViewed)
  
  if data.todayClips.length
    h2.container.h1
      | ویدیوهای روز
      a.btn.pull-right(href='/videos/more/latest') بیشتر
    +video-carousel(data.todayClips)

  h2.container.h1
    | تریلرها 
    a.btn.pull-right(href='/videos/more/trailers') بیشتر
  +video-carousel(data.trailers, 1)

  if data.toBeReleasedGame
    section.youplay-banner.youplay-banner-parallax.small
      .image(style="background-image: url('/images/sliders/1600/#{data.toBeReleasedGame._id}.jpg');")
      .info.container.align-center
        div
          h2= data.toBeReleasedGame.name
          .countdown.h2(data-end='#{data.toBeReleasedGame.releasedate}')
          a.btn.btn-lg(href='/games/#{data.toBeReleasedGame._id}') بازی نامه

  h2.container.h1 تازه های بازی ها
  section.youplay-news.container
    each item in data.news
      .news-one.row.vertical-gutter
        .col-md-4
          a.angled-img(href=item.page)
            .img
              img(src=item.poster.medium, alt='')
        .col-md-8
          .clearfix
            h3.h2.pull-left.m-0
              a(href='blog-post-1.html')= item.title
            span.date.pull-right
              i.fa.fa-calendar.fa-fw 
              span= moment(item.date).format('jD jMMMM jYYYY') 
          .description
            p= item.gist + ' ...'
          a.btn.read-more.pull-left(href=item.page) ادامه مطلب
  
  // Partners
  section.youplay-banner.youplay-banner-parallax.small.mt-10.p-15
    .image(style="background-image: url('/images/banner-bg.jpg');") 
    .row.testimonials.vertical-gutter
      .info.align-center
        div
          h2.mb-40 نقد بازی ها
      each cat in data.naghds
        .col-md-4
          blockquote
            h3.news-title.mt-0= cat.name
            p.news-words
              = cat.criticGist 
              | ...
              a(href='/games/#{cat._id}/#{cat.name}')
                small.author-name ادامه 
            a(href="/games/#{cat._id}/#{cat.name}")    
              img.img-circle(alt='dark soul', src='/images/cats/250/#{cat._id}.jpg')

  h2.container.h1 توانایی های تیم bazivision
  section.youplay-features.container
    .col-md-3.col-sm-6
      a.feature.angled-bg(href='#')
        i.fa.fa-line-chart
        h3 خدمات SEO
        small معرفی سایت به موتورهای جستجو
    .col-md-3.col-sm-6
      .feature.angled-bg
        i.fa.fa-pencil-square-o
        h3 طراحی لوگو
        small سادگی و زیبایی
    .col-md-3.col-sm-6
      .feature.angled-bg
        i.fa.fa-list-alt
        h3 تولید محتوا
        small ایجاد محتوای وب سایت
    .col-md-3.col-sm-6
      .feature.angled-bg
        i.fa.fa-html5
        h3 طراحی سایت
        small واکنش گرا و مدرن


block addscript
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='/plugins/isotope/isotope.pkgd.min.js')