include ./common/carousel
include ./common/video-carousel
include ./common/slider
extends layout

block content
  +slider(data.bannerGames)   
  +carousel(data.cats)

  h2.container.h1
    | پربازدیدها
    a.btn.pull-right(href='/videos/more/latest') بیشتر
  +video-carousel(data.mostViewed)
  

  
  if data.todayClips.length
    h2.container.h1
      | ویدیوهای روز
      a.btn.pull-right(href='/videos/more/latest') بیشتر
    +video-carousel(data.todayClips)

  // Specials
  h2.container.h1
    | تریلرها 
    a.btn.pull-right(href='/videos/more/latest') بیشتر
  +video-carousel(data.trailers, 1)
  // Preorder
  if data.toBeReleasedGame
    .h2
    section.youplay-banner.youplay-banner-parallax.small
      .image(style="background-image: url('/images/cats/1000/#{data.toBeReleasedGame._id}.jpg');")
      .info.container.align-center
        div
          h2
            = data.toBeReleasedGame.name 
          // See countdown init in bottom of the page
          .countdown.h2(data-end='#{data.toBeReleasedGame.releasedate}')
          br
          br
          a.btn.btn-lg(href='/games/#{data.toBeReleasedGame._id}') بازی نامه
  // /Preorder
  // Latest News
  h2.container.h1 نقد بازی ها
  section.youplay-news.container
    // Single News Block
    each cat in data.cats.slice(0,3)
      .news-one.row.vertical-gutter
        .col-md-4
          a.angled-img(href='/games/#{cat._id}/#{cat.name}')
            .img
              img(src='/images/cats/250/#{cat._id}.jpg', alt='')
            .youplay-hexagon-rating.youplay-hexagon-rating-small(data-max='10', data-size='50', title='#{cat.score} out of 10')
              span= cat.score
        .col-md-8
          .clearfix
            h3.h2.pull-left.m-0
              a(href='blog-post-1.html') نقد بازی 
              span= cat.name
              |  
            //- span.date.pull-right
            //-   i.fa.fa-calendar
            //-   | aa
          .description
            p= cat.critic
          a.btn.read-more.pull-left(href='/games/#{cat._id}/#{cat.name}') ادامه مطلب
  
  // Partners
  section.youplay-banner.youplay-banner-parallax.small.mt-80
    .image(style="background-image: url('/images/banner-bg.jpg');")
  // Features
  h2.container.h1 توانایی های تیم bazivision
  section.youplay-features.container
    .col-md-3.col-sm-6
      a.feature.angled-bg(href='#')
        i.fa.fa-line-chart
        h3 خدمات SEO
        small معرفی سایت به موتورهای جستجو
    .col-md-3.col-sm-6
      .feature.angled-bg
        i.fa.fa-pencil-square-o
        h3 طراحی لوگو
        small سادگی و زیبایی
    .col-md-3.col-sm-6
      .feature.angled-bg
        i.fa.fa-list-alt
        h3 تولید محتوا
        small ایجاد محتوای وب سایت
    .col-md-3.col-sm-6
      .feature.angled-bg
        i.fa.fa-html5
        h3 طراحی سایت
        small واکنش گرا و مدرن


block addscript
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='/plugins/isotope/isotope.pkgd.min.js')