include ./common/carousel
include ./common/video-carousel
include ./common/slider
extends layout


mixin extra-news
  .extra-news
    p.extra-news-title.h4 محل قرارگیری عنوان
    p.extra-news-content تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست

mixin counter-games(item)
  .block-content.col-xs-12.col-sm-6.col-md-4.col-lg-4
    .row.youplay-side-news
      table.youplay-messages.table.table-hover
        tr.message-unread
          td.padding-0-7rem       
            .col-xs-6
              a.angled-img
                .img-square
                  img(src=item.poster.sm, alt=item.fullname)
            .col-xs-6
              h4.ellipsis.mb-5
                a(href=item.url, title=item.fullname)= item.fullname
              .label.youplay-match-count.countdown(data-end=item.releasedate)
              ul.list-inline.pr-0.mb-0
                each platform in item._platforms
                  li.list-inline-item
                    a(href='/#{itemModel}/platform/#{platform.name}' role="button" title=platform.name)= platform.name 



block content


  include ./components/banner-box    

  .carousel-box
    +carousel(data.cats)
    //- +extra-news 

  .carousel-box
    h4.container-fluid.h2.mr-20.ml-20
      | پربازدیدها
      a.btn.pull-right(href='/videos/more/most-viewed') بیشتر
    +video-carousel(data.mostViewed)
  //- +extra-news


  if data.todayClips.length
    .carousel-box
      h4.container-fluid.h2.mr-20.ml-20
        | ویدیوهای هفته
        a.btn.pull-right(href='/videos/more/latest') بیشتر
      +video-carousel(data.todayClips)
    //- +extra-news

  h4.container-fluid.h2.mr-20.ml-20
    | تریلرها 
    a.btn.pull-right(href='/videos/more/trailers') بیشتر
  +video-carousel(data.trailers, 1)


  //- if data.toBeReleasedGame
  //-   section.youplay-banner.youplay-banner-parallax.small
  //-     .image(style="background-image: url('#{data.toBeReleasedGame.poster.lg}');")
  //-     .info.container.align-center
  //-       div
  //-         h2= data.toBeReleasedGame.name
  //-         .countdown.h2(data-end=data.toBeReleasedGame.releasedate)
  //-         a.btn.btn-lg(href=data.toBeReleasedGame.url) بازی نامه

  section.youplay-banner.youplay-banner-parallax.small
    .image(style="background-image: url('#{prefix}/images/banner-witcher-3.jpg');")
    .row.testimonials.vertical-gutter
      .info.align-center
        div
          h2.mt-40 تاریخ انتشار بازی ها
          .container.row
            each gm in data.toBeReleasedGames
              +counter-games(gm)
            //- .col-sm-4.mt-30
            //-   .side-block
            //-     h4.block-title Playstation Games
            //-     +counter-games
            //-     +counter-games
            //-     +counter-games
            //- 
            //- 
            //- .col-sm-4.mt-30
            //-   .side-block
            //-     h4.block-title PC GAMES
            //-     +counter-games
            //-     +counter-games
            //-     +counter-games





  h2.container.h1 تازه های بازی ها
  section.youplay-news.container
    each item in data.news
      .news-one.row.vertical-gutter
        .col-md-3
          a.angled-img(href=item.page, title=item.title)
            .img-square
              img(src=item.poster.medium, alt=item.title)
        .col-md-9
          .clearfix
            article
              h3.news-title.pull-left.m-0
                a(href=item.page)= item.title 
              span.date.pull-right
                i.fa.fa-calendar.fa-fw 
                time= moment(item.date).format('jD jMMMM jYYYY')
              .clearfix   
              .description
                p= item.gist + ' ...'
              a.btn.read-more.pull-left(href=item.page, title=item.title) ادامه مطلب


  section.youplay-banner.youplay-banner-parallax.small.mt-10.p-15
    .image(style="background-image: url('#{prefix}/images/banner-bg.jpg');") 
    .row.testimonials.vertical-gutter
      .info.align-center
        div
          h2.mb-40.mt-30 نقد بازی ها
      each cat in data.naghds
        .col-md-4
          blockquote
            article
              h3.review-title.mt-0
                a(href= cat.url + '/review', title='نقد '+ cat.fullname)= cat.fullname
              p.news-words
                = cat.criticGist 
                | ...
              a.news-words(href= cat.url + '/review')
                small.author-name 
                  | ادامه نقد  
                  small.hidden= cat.fullname
            //- a(href="/games/#{cat._id}/#{cat.name}")    
            //-   img.img-circle(alt='dark soul', src='/images/cats/250/#{cat._id}.jpg')

  //- h2.container.h1 توانایی های تیم bazivision
  section.youplay-features.container
  //-   .col-md-3.col-sm-6
  //-     a.feature.angled-bg(href='#')
  //-       i.fa.fa-line-chart
  //-       h3 خدمات SEO
  //-       small معرفی سایت به موتورهای جستجو
  //-   .col-md-3.col-sm-6
  //-     .feature.angled-bg
  //-       i.fa.fa-pencil-square-o
  //-       h3 طراحی لوگو
  //-       small سادگی و زیبایی
  //-   .col-md-3.col-sm-6
  //-     .feature.angled-bg
  //-       i.fa.fa-list-alt
  //-       h3 تولید محتوا
  //-       small ایجاد محتوای وب سایت
  //-   .col-md-3.col-sm-6
  //-     .feature.angled-bg
  //-       i.fa.fa-html5
  //-       h3 طراحی سایت
  //-       small واکنش گرا و مدرن
