include ./common/carousel
include ./common/video-carousel
include ./common/slider
extends layout



block content
  .container-fluid
    .row.mt-100
      .col-sm-12.col-md-3
        .game-side-bar.row.p-l-0
          .col-sm-4.col-md-12.p-l-0
            .image-box.align-right  
              a(href='#')
                img(src='http://cdn.bazivision.com/images/cats/250/575d69de5753e65669dd7e89.jpg')
            .col-sm-4.col-md-12.p-l-0
            .image-box.align-right  
              a(href='#')
                img(src='http://cdn.bazivision.com/images/cats/250/57762ef3c989aa2a3bc4f8a3.jpg')
            .col-sm-4.col-md-12.p-l-0
            .image-box.align-right  
              a(href='#')
                img(src='http://cdn.bazivision.com/images/cats/250/576d49c9c118eb7262cc9790.jpg')

      .col-sm-12.col-md-6
        .event-section.row.p-0
          .col-sm-12.p-0.max-height-374
            a(href='#')
              img(src='http://www.pixelstalk.net/wp-content/uploads/2016/05/Free-hd-gaming-wallpapers.jpg')
          .col-sm-12.p-0.max-height-187
            a(href='#')
              img(src='http://wallup.net/wp-content/uploads/2016/01/258702-video_games-video_game_characters-video_game_girls-Tomb_Raider-Lara_Croft-fan_art-artwork-736x459.jpg')      
      .col-sm-4.col-md-3
        .side-block.banner-news
          h4.block-title تازه های بازی ها
          .block-content
            .row.you-play-side-news
              .col-xs-3.col-sm-6.col-md-5
                a.angled-img(href='#')
                  .img
                    img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
              .col-xs-3.col-sm-6.col-md-7.p-l-0
                h5.m-0
                  a(href='#', title='#') 
                    p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                    span.date
                      i.fa.fa-calendar
                        span ۲ ماه بیش
            .row.you-play-side-news
              .col-xs-3.col-sm-6.col-md-5
                a.angled-img(href='#')
                  .img
                    img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
              .col-xs-3.col-sm-6.col-md-7.p-l-0
                h5.m-0
                  a(href='#', title='#') 
                    p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                    span.date
                      i.fa.fa-calendar
                        span ۲ ماه بیش
            .row.you-play-side-news
              .col-xs-3.col-sm-6.col-md-5
                a.angled-img(href='#')
                  .img
                    img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
              .col-xs-3.col-sm-6.col-md-7.p-l-0
                h5.m-0
                  a(href='#', title='#') 
                    p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                    span.date
                      i.fa.fa-calendar
                        span ۲ ماه بیش  

            .row.you-play-side-news
              .col-xs-3.col-sm-6.col-md-5
                a.angled-img(href='#')
                  .img
                    img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
              .col-xs-3.col-sm-6.col-md-7.p-l-0
                h5.m-0
                  a(href='#', title='#') 
                    p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                    span.date
                      i.fa.fa-calendar
                        span ۲ ماه بیش  

             .row.you-play-side-news
              .col-xs-3.col-sm-6.col-md-5
                a.angled-img(href='#')
                  .img
                    img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
              .col-xs-3.col-sm-6.col-md-7.p-l-0
                h5.m-0
                  a(href='#', title='#') 
                    p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                    span.date
                      i.fa.fa-calendar
                        span ۲ ماه بیش

            .row.you-play-side-news
              .col-xs-3.col-sm-6.col-md-5
                a.angled-img(href='#')
                  .img
                    img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
              .col-xs-3.col-sm-6.col-md-7.p-l-0
                h5.m-0
                  a(href='#', title='#') 
                    p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                    span.date
                      i.fa.fa-calendar
                        span ۲ ماه بیش  
     
  +carousel(data.cats)

  h4.container.h1
    | پربازدیدها
    a.btn.pull-right(href='/videos/more/most-viewed') بیشتر
  +video-carousel(data.mostViewed)
  
  if data.todayClips.length
    h4.container.h1
      | ویدیوهای هفته
      a.btn.pull-right(href='/videos/more/latest') بیشتر
    +video-carousel(data.todayClips)

  h4.container.h1
    | تریلرها 
    a.btn.pull-right(href='/videos/more/trailers') بیشتر
  +video-carousel(data.trailers, 1)

  if data.toBeReleasedGame
    section.youplay-banner.youplay-banner-parallax.small
      .image(style="background-image: url('#{data.toBeReleasedGame.poster.lg}');")
      .info.container.align-center
        div
          h2= data.toBeReleasedGame.name
          .countdown.h2(data-end=data.toBeReleasedGame.releasedate)
          a.btn.btn-lg(href=data.toBeReleasedGame.url) بازی نامه

  h2.container.h1 تازه های بازی ها
  section.youplay-news.container
    each item in data.news
      .news-one.row.vertical-gutter
        .col-md-4
          a.angled-img(href=item.page, title=item.title)
            .img
              img(src=item.poster.medium, alt=item.title)
        .col-md-8
          .clearfix
            article
              h3.news-title.pull-left.m-0
                a(href=item.page)= item.title 
              span.date.pull-right
                i.fa.fa-calendar.fa-fw 
                time= moment(item.date).format('jD jMMMM jYYYY')
              .clearfix   
              .description
                p= item.gist + ' ...'
              a.btn.read-more.pull-left(href=item.page, title=item.title) ادامه مطلب
  
  // Partners
  section.youplay-banner.youplay-banner-parallax.small.mt-10.p-15
    .image(style="background-image: url('#{prefix}/images/banner-bg.jpg');") 
    .row.testimonials.vertical-gutter
      .info.align-center
        div
          h2.mb-40.mt-30 نقد بازی ها
      each cat in data.naghds
        .col-md-4
          blockquote
            article
              h3.review-title.mt-0
                a(href= cat.url + '/review', title='نقد '+ cat.fullname)= cat.fullname
              p.news-words
                = cat.criticGist 
                | ...
              a.news-words(href= cat.url + '/review')
                small.author-name 
                  | ادامه نقد  
                  small.hidden= cat.fullname
            //- a(href="/games/#{cat._id}/#{cat.name}")    
            //-   img.img-circle(alt='dark soul', src='/images/cats/250/#{cat._id}.jpg')

  //- h2.container.h1 توانایی های تیم bazivision
  section.youplay-features.container
  //-   .col-md-3.col-sm-6
  //-     a.feature.angled-bg(href='#')
  //-       i.fa.fa-line-chart
  //-       h3 خدمات SEO
  //-       small معرفی سایت به موتورهای جستجو
  //-   .col-md-3.col-sm-6
  //-     .feature.angled-bg
  //-       i.fa.fa-pencil-square-o
  //-       h3 طراحی لوگو
  //-       small سادگی و زیبایی
  //-   .col-md-3.col-sm-6
  //-     .feature.angled-bg
  //-       i.fa.fa-list-alt
  //-       h3 تولید محتوا
  //-       small ایجاد محتوای وب سایت
  //-   .col-md-3.col-sm-6
  //-     .feature.angled-bg
  //-       i.fa.fa-html5
  //-       h3 طراحی سایت
  //-       small واکنش گرا و مدرن

