doctype html
html(lang="fa")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
      meta(name='description' content='بازی ویژن سرویس ویدیویی بازی های کامپیوتری که شامل تریلر, بازی نامه, موسیقی, نقد, آخرین اخبارها و تازه های بازی های کامپیوتری برای گیمیرهای فارسی زبان می باشد.')
      title ‌‌‌بازی ویژن | ویدیو، تریلر، نقد، اخبار، بازی نامه و موسیقی بازی ها

    link(rel="icon",type="image/png",href=prefix + "/images/icon.png")
    include ./preloaderStyle.html
    block addLink

  body
    // Preloader
    .page-preloader.preloader-wrapp
      img(src=prefix + '/images/logo.png', alt='بازی ویژن')
      .preloader


    include ./partials/nav
    section.content-wrap
      block content 
        
      include ./footer
    
    noscript#deferred-styles
      //- link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
      link(href=prefix + '/stylesheets/main.css', rel='stylesheet')
    
    script.
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);

    script(src=prefix + "/build/bundle.js")
      
    // Google Analytics
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-79514264-1', 'auto');
      ga('send', 'pageview');
    script(async, src='https://www.google-analytics.com/analytics.js')

    block addscript

    script(type="application/ld+json")
      block richSnippet
