extends ../layout
block title
  title جستجو
  meta(name='description', content='جستجوی پیشرفته میان بازی ها, ویدیو ها, تریلر ها و اخبار گیمینگ')

block content
  .container.youplay-search.mt-100
    form
      .row
        .col-xs-10
          .youplay-input
            input(type='text', name='query', placeholder='جستجو...', autofocus='', value="#{data.query}")
        .col-xs-2
          button.btn.btn-primary.btn-block(type="submit") جستجو

    .row
      .col-md-4.col-sm-4.col-xs-6
        h2 ویدیو ها
        // Single Product Block
        each item in data.clips
          a.angled-bg(href='/videos/#{item._id}')
            .row
              .col-md-4.col-xs-4
                .angled-img
                  .img
                    img(src='/images/clips/250/#{item._id}.jpg', alt=item.title)
                    span.fa.fa-play.icon
              .col-md-8.col-xs-8
                .row
                  .col-xs-12.col-md-12.pr-0
                    h4= item.title
                    .date.align-left
                      span.fa.fa-calendar.fa-fw
                      = moment(item.date).fromNow()

      .col-md-4.col-sm-4.col-xs-6
        h2 بازی ها
        // Single News
        each item in data.games
          a.angled-bg(href=item.url)
            .row
              .col-md-4.col-xs-4
                .angled-img
                  .img
                    img(src='/images/cats/250/#{item._id}.jpg', alt=item.name)
              .col-md-8.col-xs-8
                .row
                  .col-xs-12.col-md-12.pr-0
                    h4= item.name

      .col-md-4.col-sm-4.col-xs-6
        h2 اخبار ها
        // Single News
        each item in data.news
          a.angled-bg(href=item.page)
            .row
              .col-md-4.col-xs-4
                .angled-img
                  .img
                    img(src=item.poster.small, alt=item.title)
              .col-md-8.col-xs-8
                .row
                  .col-xs-12.col-md-12.pr-0
                    h4= item.title
                    .date.align-left
                      span.fa.fa-calendar.fa-fw
                      = moment(item.date).fromNow()