include ../common/genres-sidebar
include ../common/slider
include ../common/sideblock-videos

extends ../layout
block content
  section.content-wrap
    +slider(data.cats)
    .container.youplay-store.store-grid
      // Games List
      .col-md-9.isotope
        // /Sort Categories
        h1.mt-0 ویدیوها
        .isotope-list.row.vertical-gutter
          each item in data.clips 
            .item.col-lg-4.col-md-6.col-xs-12
              a.angled-img(href='/videos/#{item._id}')
                .img.img-offset
                  img(src='/images/clips/250/#{item._id}.jpg', alt='')
                  .badge.duration-badge.bg-default.bg-transparent
                    = moment.utc(item.duration * 1000).format("mm:ss")
                    i.fa.fa-clock-o
                  .badge.date-badge.bg-default.bg-transparent
                    = moment(item.date).fromNow()
                  .over-info
                    div
                      div
                      i.fa.fa-play.icon  
                .bottom-info
                  h4.title-overflow= item.title
                  .row.bottom-info-overflow
                    .col-xs-6
                      .category
                        span= item._category._genres.map(function(x){return x.name}).join() 
                    .col-xs-6
                      .platform
                        span= item._category._platforms.map(function(x){return x.name}).join() 
          
        nav
          ul.pager
            li
              a(href='?page=#{page+1}') بعدی
            li
              a(href=(page ? '?page=#{page - 1}' : '#')) قبلی

      .col-md-3
        +genres-sidebar(data.genres)
        +sideblock-videos('پر بازدیدترین ها', data.mostViewed)

block addscript
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.revolution.min.js')
  //- script(type='text/javascript', src='/plugins/isotope/isotope.pkgd.min.js')