extends ../layout
include ../common/sideblock-videos
include ../common/genres-sidebar
include ../common/games-sidebar
include ../common/slider
include ../common/tags-list
include ../common/meta
block content
  // Banner
  .youplay-banner.banner-top.youplay-banner-parallax.xsmall
    .image(style="background-image: url('/images/banner-blog-bg.jpg')")
    .info
      div
        .container
          h2= item.title
  // /Banner
  .container.youplay-news.youplay-post

    .col-md-9
      // Post Info
      article.news-one
        video#really-cool-video.video-js.vjs-default-skin.vjs-fullscreen(style='position:relative; z-index:0;',controls='', preload='auto', poster='/images/clips/1000/#{item._id}.jpg', data-setup='{}')
          source(src='http://cdn.bazivision.com/data/360/#{item._id}.mp4', type='video/mp4', label="360")
          source(src='http://cdn.bazivision.com/data/480/#{item._id}.mp4', type='video/mp4', label="480")
          source(src='http://cdn.bazivision.com/data/720/#{item._id}.mp4', type='video/mp4', label="720")
          p.vjs-no-js برای دیدن این ویدیو لطفا javascript مرورگر را فعال کنید


        p= item.body
        .youplay-review-rating
          +tags-list(item)
          +meta(item, 'videos')

      // Post Comments
      .comments-block
        h3
          | نظرات 
          small (#{item.comments.length})
        // Comment Form
        form.comment-form(action='/videos/#{item._id}/comments', method="post")
          .comment-avatar.pull-left
            img(src='/images/avatar.png', alt='')
          .comment-cont.clearfix
            //- .youplay-input
            //-   input(type='text', name='username', placeholder='نام *', required='')
            //- .youplay-input
            //-   input(type='email', name='email', placeholder='پست الکترونیکی *', required='')
            .youplay-textarea
              textarea(name='comment', rows='5', placeholder='نظر شما... *', required='')
            button.btn.btn-default.pull-right ارسال نظر
        // /Comment Form
        // Comments List
        ul.comments-list
          // Kristen Bradley comment
          each comment in item.comments
            li
              article
                .comment-avatar.pull-left
                  img(src='/images/avatar.png', alt='')
                .comment-cont.clearfix
                  a.comment-author.h4(href='#!')= comment._user.fullname
                  .date
                    i.fa.fa-calendar
                    span= moment(comment.date).fromNow()
                  .comment-text= comment.body
                  //- .pull-left.review-like
                  //-   a.text-success(href='#!')
                  //-     i.fa.fa-thumbs-up
                  //-     |  12
                  //-   a.text-danger(href='#!')
                  //-     i.fa.fa-thumbs-down
                  //-     |  1
                  //- a.pull-right(href='#!') پاسخ
            //- ul.child-comment
            //-   // Mike Pearson comment
            //-   li
            //-     article
            //-       .comment-avatar.pull-left
            //-         img(src='/images/avatar.png', alt='')
            //-       .comment-cont.clearfix
            //-         a.comment-author.h4(href='#!') مهدی زنگنه
            //-         .date
            //-           i.fa.fa-calendar
            //-           |  5 دقیقه قبل
            //-         .comment-text
            //-           | می ترکونیم
            //-         .pull-left.review-like
            //-           a.text-success(href='#!')
            //-             i.fa.fa-thumbs-up
            //-             |  12
            //-           a.text-danger(href='#!')
            //-             i.fa.fa-thumbs-down
            //-             |  1
                    // <a href="#!" class="pull-right">پاسخ</a>
    .col-md-3
      

              
      +sideblock-videos(' ویدیوهای مشابه', populars)
      +sideblock-videos('پر بازدیدترین ها', populars)
      +games-sidebar(games, 'نقد بازی')
      //- +genres-sidebar(genres)          

block addscript
  //- script(src='/javascripts/video.min.js')
  //- script(src='/javascripts/video-quality-selector.js')
