mixin carousel(items)
  .youplay-carousel(data-autoplay='5000')
    each item in items
      a.angled-img(href=item.url, title=item.fullname)
        .img
          img(src='/images/cats/500/#{item._id}.jpg', alt=item.name)
        .over-info
          div
            div
              p.over-info-title= item.name
              p.over-info-subtitle= item.subtitle
              p.btn.btn-xs بازی نامه





