mixin clip(item)
  .image-box
    a(href='/videos/#{item._id}')
      img.img-responsive(src="#{item.poster.four}")
    span.duration 10:31
  .info-box.m-t-1
    p
      a(href='#')= item.title
        
    ul
      li= item.body
      li
        small= moment(item.date).format('jD jMMMM jYYYY')
        span •
        small= item.viewCount