mixin video-carousel(items, isTrailer)
  .youplay-carousel
    each item in items
      a.angled-img(href=item.page, title=item.title)
        .img
          img(src=item.poster.sm, alt=item.title)
          .badge.duration-badge.bg-default.bg-transparent
            = moment.utc(item.duration * 1000).format("mm:ss")
            span.fa.fa-clock-o
          .badge.date-badge.bg-default.bg-transparent
            = moment(item.date).fromNow()

        if isTrailer
          .over-info.play-icon-over
            div
              div
                span.fa.fa-play.icon
          .bottom-info
            h3.title-overflow= item.title
            .row.bottom-info-overflow
              .col-xs-12
                if item._category
                  .platform= item._category._platforms.map(function(x){return x.name}).join() 
                  

        else 
          .over-info
            div
              div
                p.over-info-title= item.title
                span.fa.fa-play.icon
