extends ../layout
block content
  .container.mt-100
    .row
      .col-xs-6
        form(method="post", action="/cats/#{item._id}/additional", enctype="multipart/form-data")
          
          .form-group.clearfix
            span.pull-left تصویر
            input.pull-left(type="file", name="image", required=(item ? false : 'required'))
          button.btn.btn-primary Submit            

      .col-xs-6
        h1= item.name
        h2= item.subtitle
        h3 Additional pictures
        p aspect ratio is 500 * 375

        ul
          each pic in item.additional_pictures
            li
              img(src="/images/additional/350/#{pic}.jpg")
              span= pic
              a(href="/cats/#{item._id}/additional/#{pic}/delete")
                span.fa.fa-trash
