extends ../layout
block content
  section.content-wrap.full.youplay-login
    .youplay-banner.banner-top
      .image(style="background-image: url('/images/banner-bg.jpg')")
      .info
        .container.align-center
          .row
            .col-md-4
              h1.text-center بازی
              include form
            .col-md-8
              table.table.table-bordered
                each cat in cats
                  tr
                    td= cat.name
                    td
                      a(href="/cats/#{cat._id}/platforms") +platforms
                    td
                      a(href="/cats/#{cat._id}/genres") +genres
                    td
                      a(href="/cats/#{cat._id}/additional") +additional pictures
                    td
                      a(href="/cats/#{cat._id}/properties")
                        span.fa.fa-plus
                    td
                      a(href="/cats/#{cat._id}/delete")
                        span.fa.fa-trash
                    td
                      a(href="/cats/#{cat._id}/edit")
                        span.fa.fa-edit
