extends ../layout
include ../common/genres-sidebar
include ../common/games-sidebar
include ../common/comment-section
include ../common/carousel
include ../common/video-carousel
include ../common/news-sidebar
include ../common/slider

block title
  title= 'بازی نامه ' + data.item.fullname 
  meta(name='description', content=data.item.about)
  meta(name='twitter:card', value=data.item.name)
  meta(property='og:title', content=data.item.name)
  meta(property='og:type', content='article')
  meta(property='og:image', content=data.item.poster.md)
  meta(property='og:description', content=data.item.fullname)

block content
  section.content-wrap
    .youplay-banner.youplay-banner-parallax.banner-top
      .image(style="background-image: url(#{data.item.poster.lg})")
      .info
        div
          .container
            h1.h1.align-left.mb-0= data.item.name
            h2.italic-h2= data.item.subtitle

    .youplay-carousel.gallery-popup
      each img in data.item.additional_pictures
        a.angled-img(href='/images/additional/big/#{img}.jpg', title=data.item.fullname + ' gameplay image ')
          .img
            img(src='/images/additional/350/#{img}.jpg', alt=data.item.fullname + ' gameplay image ')
          i.fa.fa-search-plus.icon


    if data.clips.length
      .container
        h3.h2
          span ویدیوهای بازی 
          small.hidden= data.item.fullname
          a.btn.pull-right(href='/videos/more/most-viewed', title='ویدیوهای بازی '+data.item.fullname) بیشتر
        +video-carousel(data.clips)

    .container.youplay-store.mt-0


      .col-md-9.mt-40
        // Post Info
        article
          // Description
          h3.h2.mt-0 
            span درباره بازی
            small.hidden= data.item.fullname
          .description
            p= data.item.about
          // /Description
          // criticism
          h3.h2.mt-0
            span نقد بازی
            small.hidden= data.item.fullname
          .description!= data.item.criticGist
            span ... 
            a.more-review(href=data.item.url + '/review') ادامه نقد بازی

          if data.album
            h3.h2
              span موسیقی های بازی
              small.hidden= data.item.fullname
            table.youplay-messages.table.table-hover
              tbody
                tr.message-unread
                  td.message-from
                    a.angled-img(href=data.item.url + '/soundtracks')
                      .img
                        img(src=data.album.poster.sm, width='120', height='120', alt='')
                    strong آهنگساز:      
                      a.date(href='#')
                        span= data.album.composer
                    br
                    strong ناشر:      
                      span.date
                        span= data.album.publisher
                    br
                    strong سال:   
                      span.date= data.album.year
                    br  
                    strong دانلود:   
                      a.date(href=data.item.url + '/soundtracks') کلیک کنید  
                  td.message-description.hidden-xs
                    .message-description-name توضیحات
                    .message-excerpt= data.album.info


          include ../common/social


        //- +comment-section(item, 'games') 
      .col-md-3.mt-40
        +games-sidebar(data.cats, 'بازی های مشابه')
        if data.news.length
          +news-sidebar('اخبار بازی', data.news)
        +news-sidebar('پر بازدیدترین اخبارها', data.popularNews)

        //- +genres-sidebar(data.genres)
        //- if data.news.length
        //-   h2.container اخبارهای بازی
        //-     a.btn.pull-right(href='/videos/more/most-viewed') بیشتر
        //-   +video-carousel(data.clips)    

        if data.otherVersions.length
          h2.container دیگر نسخه های بازی
          +carousel(data.otherVersions, 'Related')

block richSnippet
  !=JSON.stringify(data.item.richSnippet)
