extends ../layout
include ../common/genres-sidebar
include ../common/games-sidebar
include ../common/comment-section
include ../common/carousel
include ../common/video-carousel
include ../common/news-sidebar
include ../common/slider

block title
  title= data.item.name + ' ' + data.item.subtitle
  meta(name='description', content='#{data.item.name} #{data.item.subtitle}')
  meta(name='twitter:card', value='#{data.item.name}')
  meta(property='og:title', content='#{data.item.name}')
  meta(property='og:type', content='article')
  meta(property='og:image', content='http://cdn.bazivision.com/images/cats/250/#{data.item._id}.jpg')
  meta(property='og:description', content='#{data.item.name} #{data.item.subtitle}')

block content
  section.content-wrap
    .youplay-banner.youplay-banner-parallax.banner-top
      .image(style="background-image: url(#{data.item.poster.lg})")
      .info
        div
          .container
            h1.h1.align-left.mb-0= data.item.name
            h3.italic-h2= data.item.subtitle
            
    .youplay-carousel.gallery-popup
      //- a.angled-img(href='#')
      //-   .img
      //-     img(src='/images/additional/400/#{img}.jpg', alt='')
      //-   i.fa.fa-play.icon
      each img in data.item.additional_pictures
        a.angled-img(href='/images/additional/big/#{img}.jpg')
          .img
            img(src='/images/additional/350/#{img}.jpg', alt='')
          i.fa.fa-search-plus.icon


    h2.container
      | ویدیوهای بازی
      a.btn.pull-right(href='/videos/more/most-viewed') بیشتر
    .container.youplay-store.mt-0

      +video-carousel(data.clips)

      .col-md-9.mt-40
        // Post Info
        article
          // Description
          h2.mt-0 درباره بازی
          .description
            p= data.item.about
          // /Description
          // criticism
          h2.mt-0 نقد بازی
          .description!= data.item.criticGist
            span ... 
            a.more-review(href=data.item.url + '/review') ادامه نقد بازی

          if data.album
            h2 موسیقی های بازی
            table.youplay-messages.table.table-hover
              tbody
                tr.message-unread
                  td.message-from
                    a.angled-img(href=data.item.url + '/soundtracks')
                      .img
                        img(src=data.album.poster.sm, width='120', height='120', alt='')
                    strong آهنگساز:      
                      a.date(href='#')
                        span= data.album.composer
                    br
                    strong ناشر:      
                      span.date
                        span= data.album.publisher
                    br
                    strong سال:   
                      span.date= data.album.year
                    br  
                    strong دانلود:   
                      a.date(href=data.item.url + '/soundtracks') کلیک کنید  
                  td.message-description.hidden-xs
                    .message-description-name توضیحات
                    .message-excerpt= data.album.info

          
          include ../common/social
     

        //- +comment-section(item, 'games') 
      .col-md-3.mt-40
        +games-sidebar(data.cats, 'بازی های مشابه')
        +news-sidebar('پر بازدیدترین اخبارها', data.popularNews)

        //- +genres-sidebar(data.genres)

    h2.container اخبارهای بازی
      a.btn.pull-right(href='/videos/more/most-viewed') بیشتر
    +video-carousel(data.clips)    

    h2.container دیگر نسخه های بازی
    +carousel(data.cats, 'Related')