extends ../layout
include ../common/genres-sidebar
include ../common/comment-section
include ../common/carousel
include ../common/video-carousel
include ../common/slider

block title
  title= data.item.name + ' ' + data.item.subtitle
  meta(name='description', content='#{data.item.name} #{data.item.subtitle}')
  meta(name='twitter:card', value='#{data.item.name}')
  meta(property='og:title', content='#{data.item.name}')
  meta(property='og:type', content='article')
  meta(property='og:image', content='http://cdn.bazivision.com/images/cats/250/#{data.item._id}.jpg')
  meta(property='og:description', content='#{data.item.name} #{data.item.subtitle}')

block content
  section.content-wrap
    // Banner
    .youplay-banner.youplay-banner-parallax.banner-top
      .image(style="background-image: url('/images/sliders/1600/#{data.item._id}.jpg')")
      .info
        div
          .container
            h2.h1.align-left.mb-0= data.item.name
            h3.italic-h2= data.item.subtitle
    // /Banner
    // Images With Text
    .youplay-carousel.gallery-popup
      //- a.angled-img(href='#')
      //-   .img
      //-     img(src='/images/additional/400/#{img}.jpg', alt='')
      //-   i.fa.fa-play.icon
      each img in data.item.additional_pictures
        a.angled-img(href='/images/additional/big/#{img}.jpg')
          .img
            img(src='/images/additional/250/#{img}.jpg', alt='')
          i.fa.fa-search-plus.icon

    // /Images With Text
    .container.youplay-store

      +video-carousel(data.clips)

      .col-md-9
        // Post Info
        article
          // Description
          h2.mt-0 درباره بازی
          .description
            p= data.item.about
          // /Description
          // criticism
          h2.mt-0 نقد بازی
          .description
            p= data.item.critic
          // /criticism
          // Review Rating
          .youplay-review-rating
            .row
              .col-md-4
                .youplay-hexagon-rating(data-max='10', title='#{data.item.score} out of 10')
                  span= data.item.score
              if data.item.properties.pros.length
                .col-md-4
                  h3.mt-0 ویژگی های مثبت
                  ul
                    each quality in data.item.properties.pros
                      if quality
                        li
                          i.fa.fa-plus-circle
                          span=  quality
              if data.item.properties.cons.length
                .col-md-4
                  h3.mt-0 ویژگی های منفی
                  ul
                    each quality in data.item.properties.cons
                      if quality
                        li
                          i.fa.fa-minus-circle
                          span= quality
          // /Review Rating
          // Post Share
          .btn-group.social-list.social-likes(data-counters='no')
            a.btn.btn-default.twitter-share-button(href='https://twitter.com/share?via=bazvsion', data-via='bazivision', data-related='bazivision', data-hashtags='bazivision', data-dnt='true')
              span.fa.fa-twitter
            a.btn.btn-default.facebook-share-button(href='https://www.facebook.com/sharer/sharer.php', target='_blank')
              span.fa.fa-facebook
            a.btn.btn-default.telegram-share-button(href='https://telegram.me/share/url?url=', target='_blank', data-telegram='true')
              span.fa.fa-send
            a.btn.btn-default(href="https://www.instagram.com/bazivision/", target="_black")
              span.fa.fa-instagram


     

        //- +comment-section(item, 'games') 
      // Right Side
      .col-md-3
        // Side Popular News
        .side-block.right-side
          h4.block-title بازی های مشابه
          .block-content.p-0
            each cat in data.cats
              .row.youplay-side-news
                .col-xs-3.col-md-4
                  a.angled-img(href='/games/#{cat._id}/#{cat.name}')
                    .img
                      img(src='/images/cats/250/#{cat._id}.jpg', alt='')
                .col-xs-9.col-md-8
                  h4.ellipsis
                    a(href='/games/#{cat._id}/#{cat.name}', title='#{cat.name}')= cat.name
                  //- span.date
                  //-   i.fa.fa-calendar
                  //-   // date
            
        // /Side Popular News
        // Side Popular News
        .side-block.right-side
          h4.block-title بازی نامه ها
          .block-content.p-0
            each cat in data.cats
              .row.youplay-side-news
                .col-xs-3.col-md-4
                  a.angled-img(href='/games/#{cat._id}/#{cat.name}')
                    .img
                      img(src='/images/cats/250/#{cat._id}.jpg', alt='')
                .col-xs-9.col-md-8
                  h4.ellipsis
                    a(href='/games/#{cat._id}/#{cat.name}', title='#{cat.name}')= cat.name
                  //- span.date
                  //-   i.fa.fa-calendar
                  //-   // date
            
        // /Side Popular News
        // Side Categories
        +genres-sidebar(data.genres)
        // /Side Categories
      // /Right Side
    // Related
    h2.container دیگر نسخه های بازی
    +carousel(data.cats, 'Related')
