include ../common/genres-sidebar
include ../common/games-sidebar
include ../common/tags-list
include ../common/meta
extends ../layout
block title
  title
    | Bazivision | 
    = data.item.title
  meta(name='description', content='#{data.item.title}')
  meta(name='twitter:card', value='#{data.item.title}')
  meta(property='og:title', content='#{data.item.title}')
  meta(property='og:type', content='article')
  meta(property='og:image', content=data.item.poster.medium)
  meta(property='og:description', content='#{data.item.title}')

block content
  .youplay-banner.banner-top.youplay-banner-parallax.xsmall
    .image(style="background-image: url('#{data.item.poster.big}')")
    .info
      div
        .container
          h1= data.item.title
  .container.youplay-news.youplay-post
    .col-md-9
      article.news-one
        .description!= data.item.body
        hr
        +tags-list(data.item)
        +meta(data.item, 'news')
        include ../common/social
    .col-md-3
      +genres-sidebar(data.genres)
      +games-sidebar(data.games, 'دیگر بازه ها')

