extends ../layout
include ../common/slider
include ../common/sideblock-videos
include ../common/news-sidebar
include ../common/games-sidebar

block title
  title اخبار
  meta(name='description', content='جدید ترین اخبار بازی ها')
  meta(name='twitter:card', value='جدید ترین اخبار بازی ها')
  meta(property='og:title', content='جدید ترین اخبار بازی ها')
  meta(property='og:type', content='news')
  meta(property='og:description', content='جدید ترین اخبار بازی ها')


block content 
  +slider(data.bannerGames)
  .container.youplay-news
    .col-md-9
      h1.mt-0 تازه ها
      each item in data.items 
        .news-one
          .row.vertical-gutter
            .col-md-4
              a.angled-img(href=item.page, title=item.title)
                .img
                  img(src=item.poster.medium, alt=item.title)
                .over-info.bottom.h4= moment(item.date).format('jD jMMMM jYYYY') 
            .col-md-8
              .clearfix
                h3.h2.pull-left.m-0
                  a(href=item.page)= item.title
              //- .tags
              //-   i.fa.fa-tags
              //-   a(href='#') world of warcraft
              //-   | , 
              //-   a(href='#') legion
              //-   | , 
              //-   a(href='#') تاریخ اکران
              //-   | , 
              //-   a(href='#') game
              .description
                p= item.gist
              a.btn.read-more.pull-left(href=item.page, title=item.title) ادامه خبر
      nav
        ul.pager
          li
            a(href='#') بعدی
          li
            a(href='#') قبلی
    .col-md-3
      +news-sidebar('پر بازدیدترین اخبارها', data.popularNews)
      +sideblock-videos('پر بازدیدترین ویدیوها', data.populars)
      +games-sidebar(data.games, 'نقد بازی')


block addscript
  script(type='text/javascript', src= prefix + '/plugins/slider-revolution/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src= prefix + '/plugins/slider-revolution/jquery.themepunch.revolution.min.js')
